body {
    background: linear-gradient(45deg, #1B1F37, #2A1E37);
    color: white;
    font-style: italic;
}

h1 {

    color: transparent;
    background: linear-gradient(to left, #4a1b5a, #130717, #600421, #501024,#440116 );

    background-clip: text;
    -webkit-background-clip: text;

    background-size: 200% 200%;
    -webkit-background-size: 200% 200%;

    animation: animate infinite linear 3s;
    -webkit-text-stroke: 3px rgb(115, 0, 115);

}

@keyframes animate {

    100% {
        background-position: 0% 200%;
    }

    0% {
        background-position: 200% 0%;
    }

}

.color {
    color: #9176c7 !important;

}

.btn1 {
    background-color: transparent !important;
    border-color: #9176c7;
    color: white;
}

.btn1:hover {
    color: #9176c7 !important;
    border: #9176c7 solid 1px;

}

.btn2 {
    color: white;
}

.btn2:hover {
    background-color: transparent !important;
    color: red;
}